.card-slider-conatiner {
  width: 90%;
  height: 100%;

  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  text-align: center;
  padding-top: 100px;
}

.main-slider-contianer1 {
  width: 99%;
  
  position: relative;
  display: flex;

  margin: 10px;
}
.slider {
  width: 50%;
  height: 100%;
  padding: 0;
  text-align: center;
}

.main-slider-contianer1 button {
  height: 70px;
  margin: auto;
  width: 30px;
  border: none;
}

.slider-icon.left:hover,
.slider-icon.right:hover {
  opacity: 1;
}
.slider-icon.right {
  float: inline-end;
}

.slider-card {
  display: inline-block;
}

.slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;

  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

@media (max-width: 520px) {
  .main-slider-contianer1 {
    width: 90%;
    height: min-content;
    position: none;
    display: block;
    flex: none;
    background-color: rgb(255, 250, 250);
    margin: 10px;
  }
}
