.aboutus-container{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding: 140px;
    justify-content: space-around;
}
.aboutus-container div{
    margin:40px;
}
.title_aboutus{
    text-decoration: underline;
    padding:10px;
}
.contact_container{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding-top: 200px;
    justify-content: space-around;
   align-items: center;
   text-align: center;
padding-bottom: 50px;

}