

.carcard_container{
  
    margin:20px;
   
   transition: transform 0.3s;
    box-shadow:3px 3px 3px 3px rgba(2, 1, 1, 0.38) ;
    width:max-content;
  }
  .carcard_container:hover{
    transform: scale(1.10);
  }
  .select_brand{
    padding-left: 100px;
    border-radius: 50%;
   display: flex;
   width: max-content;
   height: max-content;
  
  }
  
.cars-container{
    background-color:rgb(233, 233, 236);
    box-shadow: 2px -5px rgba(17, 0, 0, 0.646);
    color: aliceblue;
    width:220vh;
}
.brand_dropdwon{
    width:150px;
    height:60px;
}
.featured-container{
    display: flex;
    flex-wrap: wrap;
     margin:10px;
     padding:20px;
     text-align:center ;
    
     height:auto;
     width:200vh;
     background-color: rgb(255, 255, 255);
    
}

.cars_section1{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(186, 201, 215);
    border-bottom: 1px black;
    
}
.cars_section2{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(186, 201, 215);
    border-bottom: 1px black;
}
.cars_section3{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(186, 201, 215);
    border-bottom: 1px black;
}
#f-title{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.button-container{
    padding:10px;
    border: none;
    display: flex;
    
}
.b1{
    border:none;
    color:rgb(23, 3, 3);
   background-color:  rgb(233, 233, 241);
   box-shadow: 3px 3px 3px 3px rgba(92, 80, 80, 0.209) ;
   width:100px;
   height: 50px;

}
.b1:hover{
    background-color:  rgb(5, 41, 76);
    color: aliceblue;
}
.b2:hover{
    background-color:  rgb(5, 41, 76);
    color: aliceblue;
}
.s_container{
   padding-left: 300px;
   
}
.b2{
    width:60px;
    border-radius: 3px;
    border: 1px;
    height: 40px;
}

.searched-container{
    color:white;
   padding:40px;
}
.addToFavButton{
 width:30px;
  height: min-content;

}

.card_button{
    color: black;
    width: max-content;
    height: fit-content;
    color: black;
}

