.image-slider {
    display: flex;
    overflow: hidden;
    /* Adjust as needed  width: 550px;*/
    /* Adjust as needed  height: 350px; */
    width: 600px;
    height: 400px;
    
  }
  
  
  
  .visible {
    opacity: 1;
  }
  