.image-slider {
    display: flex;
    overflow: hidden;
   
    width: 60vh;
    height: 50vh;
    
  }
  
  
  
  .visible {
    opacity: 1;
  }
  @media (max-width: 520px) {
.image-slider {
    display: flex;
    overflow: hidden;
   justify-content: center;
    width: 30vh;
    height: 30vh;
    
  }

  }