.main{
    text-align: center;
    padding:40px;
    margin:10px;
    color: aliceblue;
   
  }
  Button{
    width:200px;
    padding:10px;
    height:50px;
    margin:30px;
  }
  .log{
   margin-top: 300px;
    padding:30px;
   width:600px;
   height:60vh;
   margin-bottom: 100px;
   margin-left: 100px;
   display: flex;
    justify-content:center;
    align-items: center;
   background-color: #344974d4;
   box-shadow:3px 3px 3px 3px rgba(3, 5, 39, 0.491);
   border-radius: 6px;
   
  }
  .log :hover{
    background-color: #344974a1;
  }
  
  #t1{
    font-size: 32px;
  }

  .Login-container{
    display: flex;
    
    text-align: center;
    
    font-weight: 300;
    background: linear-gradient(90deg, #0c1c37, #283c3c);
    height: 100vh;
    width: 100vw;
    margin-bottom: 10;
    width:100%;
  }

  
  .Login-container span{
    padding-top: 380px;
    padding-left: 40px;
    padding-bottom: 20px;
  }


  .gLogin{
    color: black;
    width:20vh;
    border-radius:20%;
  }

  @media (max-width: 520px) {
    .Login-container{ 
     width:200vw;
     height:120vh;
    }
  }  