.main_userAc{
   display: flex;
    color:aliceblue;
  padding-top: 150px;
  padding-left: 100px;
   height: max-content;
}
.user_container{
    color:white;
margin-right: 100px;
text-align: left;
}
.profile_image{
    width:100px;
    height:100px;
    margin:20px;
}
.user_container button{
    width:130px;
    border:none;
    
    box-shadow: 2px 1px 1px 1px inset rgba(250, 250, 250, 0.189);
    color: aliceblue;
    background-color: black;
}

.user_container button:hover{
    background-color: rgba(12, 34, 63, 0.36);
}
.userAcContainer{
    color: aliceblue;
}
.user_Info{
    margin-left: 70px;
    margin-top: 30px;
    padding: 20px;
}
.favorietCarContainer{
    padding-top: 40px;
}
.bookedCar_Container{
    padding-top: 40px;
}