


.logo {
  display: grid;
  grid-column: 2/3;
  /* background-color: antiquewhite; */
  justify-content: start;
  align-items: center;
  
}



@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }
}  